  body  {
      font: Times;
      font-color: white;
      background-color: honeydew;
      text-align: center;

  }

  .taylor {
    position: absolute;
  }

  .bottom {
    position: inherit;
  }
